# Extension must be `.exs`

import Config

# External Libs
## Guardian
config :my_app_name, my_module_using_guardian,
  issuer: "my_app_name",
  secret_key: "Secret key. You can use `mix guardian.gen.secret` to get one"
